body {
    background-color: rgb(217, 217, 120);
}

div#main{
   
    margin: auto;
    margin-top: 20px;
    width: 1160px;
    height: 900px;
}
h1{
     text-shadow: rgb(48, 43, 43) 0.1em 0.1em 0.2em
    }
.container {
    text-align: center;
    font-family: Impact, sans-serif;
    font-size: 25px;
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
    
}
.container1{
   
    float: left;
    text-align: left;
    width: 1000px;
    height: 200px;
}
.container2{
   
    text-align: right;
    float: right;
    width: 700px;
    height: 200px;
}
.container3{
   
    float:left;
    text-align: left;
    width: 1000px;
    height: 200px;
}
html {
    min-height: 100%;
    position: relative;
  }
  footer {
    background-color: black;
    margin-top:300px;
    position: static;
    width: 1160px;
    height: 40px;
    color: white;
    text-align: center;
  }
  .banners{
      height: 150px;
  }
  .bola {
    height: 150px;
    width: 150px;
    margin: 400px 100px 0px 100px;
    border-radius: 50%;
  }
  
  .contenedor {
    
    height: 20px;
    width: 100px;
    margin: 0px 100px;
    position: relative;
  
      
  }
  
  .sombra {
    
    height: 20px;
    width: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-image: radial-gradient(ellipse, rgba(0,0,0, .4) 25%, white 60%);
    
  }
  
  
  
  .bola {
    margin-top: 10%;
    animation: subir-bajar 2s infinite;
    margin-bottom: 50px; 
    background-color: burlywood;
    
  }
  
  
  @keyframes subir-bajar {
    
    0% {
      
     transform: translateY(-400%);
      
    }
    
    20% {
      
      transform: translateY(0%);
      
    }
    
    40% {
      
      transform: translateY(-150%);
      
    }
    
    50% {
      transform: translateY(0%);
    }
    
    
    60% {
      transform: translateY(-100%);
    }
    
    70% {
      transform: translateY(0%);
    }
    
    80% {
      transform: translateY(-50%);
    }
    
    
  }
  
  .sombra {
    
    animation: transparencia 1s infinite;
    
  }
  
  
  
  @keyframes transparencia {
      
     0% {
      
     opacity: 0;
       width: 10%;
      
    }
    
    20% {
      
     opacity: 1;
     width: 100%;
      
    }
    
    40% {
      
    opacity: 0.4;
    width: 50%;
      
    }
    
    50% {
      opacity: 1;
      width: 100%;
    }
    
    
    60% {
      opacity: 0.5;
      width: 60%;
    }
    
    70% {
      opacity: 1;
      width: 100%;
    }
    
    80% {
      opacity: 0.9;
      width: 80%;
    }
    
   100% {
    opacity: 1;
    width: 50%;

    }
    
  }