.imagen{
    width: 25px;
    height: 25px;
    margin-right: 20px;
    margin-left: 20px;
}
.header  {
    margin-right: 50px;
    margin-left: 80px;
    font-family:'Courier New', Courier, monospace;
    font-size: 26px;
}

.izquierda {
    justify-content: center;
      width: 80%;
   
    
}
.imagen2{
    height: 300px;
    width: 400px;
}

.container {
    margin-left: 65px;
    margin-top: 150px;
    display: flex;
    align-items: right;
    align-content: right;
    justify-content: right;
}

.form {
    margin-right: 50px;
    text-align: right;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.item_form {
    margin-top: 20px;
}
.item_form input{
    
    border: 0;
    height: 35px;
    width: 200px;
    border-radius: 6px;
    background-color: #bfbfbf;
}
.item_form span {
    display: inline-block;
    width: 200px;
    margin-right: 60px;
    border-radius: 6px;
}
.btn {
    margin-top: 10px;
    text-align: right;
}
.btn input {
    
    background-color: #18A0FB;
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 6px;
    border: unset;
}