* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    padding: 90px 20px 0;
  }
  
  .header {
    background-color: whitesmoke;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
  
    max-width: 992px;
    margin: 0 auto;
  }
  
  .nav-link {
    color: black;
    text-decoration: none;
  }
  
  .logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
  }
  
  .nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  
  .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
     width: max-content;
  }
  
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
  }
  
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background-color: #2773aa;
    transition: 0.5s;
  }